header {
    padding: 10px;
    justify-content: space-around;
    text-align: center; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: whitesmoke;
    text-decoration-color: black;
}

.body {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: #000;
    flex: auto;
    flex-wrap: nowrap;
    line-height: 2.0px;
    align-items: center;
}

.h1 {
    box-sizing: 15px;
    background-color: whitesmoke;
    text-decoration-color: black;
    text-align: center;
}
nav {
    font-size: 15px;
}

nav a {
  color: green;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

section {
  flex: 1 1 0;
  padding-right: 5%;
}
h2 {
    margin: 2% 0;
    font-size: 100%%;
    text-align: center;
  }
h3::before {
  font-family: Impact;
  content: '\273A';
  color: #772014;
  margin-right: 5px;
}
  
#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    display: flex;
    width: 50%;
    height: 150px;
    justify-content: center;
    margin: 0 auto;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 45%;
    height: 20vh;
    margin: 0 auto;
}

#contact {
    display: flex;
    flex-wrap: wrap;
}

#contact h2 {
    width: 100%;
}

.left, .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }

@media screen and (max-width: 768px) {
  header, main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  input,
button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
}


  
  h1::after {
  font-family: Impact;
  content: 'Pseudo Elements';
  color: #8ac4ff;
  margin-left: 5px;
}



h3 {
  margin: 2% 0;
  font-size: 150%;
}
  
  footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

}
   
